# python virtual environment installation
**/python_venv_renew/bin/
**/python_venv_renew/include/
**/python_venv_renew/lib64
**/python_venv_renew/lib/
**/python_venv_renew/share/
**/python_venv_renew/pyvenv.cfg

# notebook checkpoints
**/notebooks/.ipynb_checkpoints/
